<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>com.auth.login.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.auth.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>com.auth.login.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>com.auth.login.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.database.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.auth.login.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearHistory</servlet-name>
        <servlet-class>com.auth.login.ClearHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearHistories</servlet-name>
        <servlet-class>com.auth.login.ClearHistories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNoOfSuggestion</servlet-name>
        <servlet-class>com.auth.login.UpdateNoOfSuggestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/Auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearHistory</servlet-name>
        <url-pattern>/ClearHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearHistories</servlet-name>
        <url-pattern>/ClearHistories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNoOfSuggestion</servlet-name>
        <url-pattern>/UpdateNoOfSuggestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
